[submodule "Carthage/Checkouts/Act"]
	path = Carthage/Checkouts/Act
	url = https://github.com/Goos/Act.git
[submodule "AsyncNetwork"]
	path = AsyncNetwork
	url = https://github.com/jdiehl/async-network.git
